.container {
  width: 50vw;
  display: flex;
  padding: 10px;
  gap: 30px;
}

.image img {
  width: 200px;
  height: 200px;
  padding: 10px 0;
}

.left {
  padding: 10px 0;
  width: 30%;
}

.image p {
  padding-bottom: 20px;
}

.right {
  padding: 20px 0;
  width: 70%;
}

.top {
  display: flex;
  justify-content: space-between;
}

.link {
  color: rgb(30, 30, 255);
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
}

.submit {
  padding: 10px 5px;
  background-color: rgb(69, 145, 251);
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.submit:hover {
  opacity: 0.8;
}

.cancel:hover {
  cursor: pointer;
}
