.container {
  position: relative;
  gap: 8px;
}

.container label {
  font-weight: 500;
  color: #252525;
  margin: 10px;
}

.inputContainer input {
  border: 2px solid #eee;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}

.inputContainer input:hover {
  border: 2px solid rgb(136, 136, 136);
  transition: 200ms;
}

.inputContainer input:focus {
  border: 2px solid cyan;
}

.inputContainer {
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: end;
}

.inputContainer .icon {
  position: absolute;
  padding: 10px;
}
