.container {
  /* position: relative; */
  width: 100%;
}

.container label {
  font-weight: 500;
  color: #252525;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.inputContainer input {
  width: 100%;
  border: 2px solid #eee;
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
  padding: 5px;
}

.inputContainer input:hover {
  border: 2px solid rgb(136, 136, 136);
  transition: 200ms;
}

.inputContainer input:focus {
  border: 2px solid rgb(0, 50, 200);
}

.icon {
  position: absolute;
  top: 15%;
  right: 0;
  padding: 0 3%;
}
