.container {
  height: 100vh;
  background: linear-gradient(
    to bottom right,
    rgb(14, 129, 212),
    rgb(23, 24, 84)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  padding: 10px;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.form {
  border-radius: 10px;
  background-color: white;
  height: fit-content;
  width: 22%;
  padding: 20px;
}

.submit {
  width: 100%;
  outline: none;
  background-color: rgb(14, 47, 212);
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: rgb(248, 248, 250);
}

.submit:hover {
  opacity: 0.8;
}

.link {
  cursor: pointer;
}
