.container {
  width: 80%;
  padding: 20px;
  background-color: #e4e4e4;
  margin: 10px;
  border-radius: 10px;
}

.container:hover {
  transform: scale(1.02);
  transition: 200ms;
}

.project {
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: large;
}

.connect {
  display: flex;
  font-size: 25px;
  gap: 10px;
}

.icons {
  color: black;
}

.icons:hover {
  color: rgb(63, 63, 252);
  transition: 200ms;
}
